*{
    font-family: 'Turret Road';
}

.header{
    background-color: rgb(94, 182, 255);
    height: 12vh;
    width: 100vw;
    box-sizing: border-box;
}

.header-h1{
    display: inline-block;
    margin: 1vh;
}

/*Quita el subrayado*/
.header-h1__a:link{
    /*Borde
    -webkit-text-stroke: .1px black;
    */
    color: black;
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
}

/*Quita el color azul*/
.header-h1__a:visited{
    color: black;  
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
}

.header-nav{
    display: inline-block;
    box-sizing: border-box;
    padding: 2vh 3vw;
    font-size: 1.5em;
    margin-left: 40vw;
}

.header-nav__ul{
    /*Le quita los puntos a la lista*/
    list-style: none;
}

.header-nav__ul-a{
    padding-left: 1em;
}

.header-nav__ul-a:link{
    color: black;
    text-decoration: none;
}

.header-nav__ul-a:visited{
    color: black;
    text-decoration: none;
}

/*Cambia color al pasar encima*/
.header-nav__ul-a:hover{
    color: white;
    text-decoration: none;
}

.yo-section{
    background-color: rgb(104, 104, 255);
    height: 35vh;
    width: 50vw;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 3vh 25vw;
    padding: 1.5vh 1vw;
    box-shadow: -2px 2px 5px rgb(153, 153, 153);
}

.estudios-section{
    background-color: rgb(162, 253, 71);
    height: 35vh;
    width: 50vw;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 3vh 25vw;
    padding: 1.5vh 1vw;
    box-shadow: -2px 2px 5px rgb(153, 153, 153);
}

.contacto-section{
    background-color: rgb(233, 58, 93);
    height: 35vh;
    width: 50vw;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 3vh 25vw;
    padding: 1.5vh 1vw;
    box-shadow: -2px 2px 5px rgb(153, 153, 153);
}

.section__h2{
    background-color: white;
    font-size: 2em;
    border-radius: 20px;
    padding: 1vh 1vw;
}

.section__div{
    padding-left: 1vw;
    padding-top: 1vh;
}

.yo-section__div-p{
    font-size: 1.2em;
    color: white;
}

.estudios-section__div-ul{
    font-size: 1.2em;
    color: black;
    list-style: none;
}

.contacto-section__div-dl{
    font-size: 1.2em;
    color: white;
}

.footer{
    background-color: rgb(100, 100, 100);
    height: 20vh;
    width: 100vw;
    padding: 4vh 2vw;
}

.footer__ul{
    list-style: none;
    display: inline-block;
}

.footer__p{
    color: white;
    font-size: 1em;
    display: inline-block;
    padding-left: 60vw;
}

.footer__ul-li{
    display: inline-block;
    padding-left: 1em;
}

.footer__ul-li--a:visited{
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.footer__ul-li--a:link{
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.footer__ul-li--a:hover{
    color: black;
    font-size: 1em;
    text-decoration: none;
}